/nbproject/build-impl.xml
/manifest.mf
/nbproject/genfiles.properties
/nbproject/configs/Run_as_WebStart.properties
/build.xml
/nbproject/templates/FXSwingTemplateApplication.jnlp
/nbproject/jfx-impl.xml
/nbproject/project.xml
/nbproject/templates/FXSwingTemplateApplet.jnlp
/nbproject/templates/FXSwingTemplate.html
/nbproject/configs/Run_in_Browser.properties
/nbproject/project.properties